In [12]:
# Instead of downloading a csv file and updating analysis and visualisation of the stock price,
# the NVDA stock price history can be extracted directly using Pandas Datareader and the
# Yahoo Finance API
# Data extraction from the World Bank can also be facilitated using an API

import pandas_datareader as pdr

In [13]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\user\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\user\anaconda3\lib\site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: pandas>=0.23 in c:\users\user\anaconda3\lib\site-packages (from pandas_datareader) (1.4.4)
Requirement already satisfied: lxml in c:\users\user\anaconda3\lib\site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2022.9.14)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)

In [14]:
import pandas_datareader as pdr

In [15]:
import datetime as dt

In [16]:
ticker = "NVDA"
start = dt.datetime(2019, 1, 1)

data = pdr.get_data_yahoo(ticker, start)

TypeError: string indices must be integers

In [18]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\user\anaconda3\lib\site-packages (0.2.17)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (37.0.1)
Requirement already satisfied: html5lib>=1.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: requests>=2.26 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.3.7)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: lxml>=4.9.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\user\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\user\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\user\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [19]:
import pandas_datareader.data as pdr
import yfinance as yfin
yfin.pdr_override()

# To get around a breaking change in the yahoo finance API

In [21]:
ticker = "NVDA"
start = dt.datetime(2019, 1, 1)

data = pdr.get_data_yahoo(ticker, start)

[*********************100%***********************]  1 of 1 completed

In [22]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2019-01-02  32.660000  34.619999  32.512501  34.055000  33.799732  50875200
2019-01-03  33.447498  33.790001  31.922501  31.997499  31.757648  70555200
2019-01-04  32.735001  34.432499  32.424999  34.047501  33.792278  58562000
2019-01-07  34.625000  36.222500  34.107498  35.849998  35.581276  70916000
2019-01-08  36.672501  36.695000  34.224998  34.957500  34.695465  78601600

In [23]:
# Checking the Date column is indexed as datetime, which it is.
data.index

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-30',
               '2023-03-31', '2023-04-03', '2023-04-04', '2023-04-05',
               '2023-04-06', '2023-04-10'],
              dtype='datetime64[ns]', name='Date', length=1075, freq=None)

In [24]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [25]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,275.089996,280.000000,273.359985,279.649994,279.649994,39871600
2023-04-04,279.660004,280.000000,273.070007,274.529999,274.529999,36859200
2023-04-05,268.290009,269.980011,263.950012,268.809998,268.809998,51501500
2023-04-06,265.839996,270.799988,264.269989,270.369995,270.369995,39765400
2023-04-10,268.230011,276.209991,266.690002,275.790009,275.790009,39438000

In [26]:
ticker = "NVDA"
start = dt.datetime(2020, 1, 1)
end = dt.datetime(2023, 4, 10)

data = pdr.get_data_yahoo(ticker, start, end)

[*********************100%***********************]  1 of 1 completed

In [28]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  59.687500  59.977501  59.180000  59.977501  59.760399  23753600
2020-01-03  58.775002  59.457500  58.525002  59.017502  58.803875  20538400
2020-01-06  58.080002  59.317501  57.817501  59.264999  59.050491  26263600
2020-01-07  59.549999  60.442501  59.097500  59.982498  59.765381  31485600
2020-01-08  59.939999  60.509998  59.537498  60.095001  59.877476  27710800

In [29]:
# Pulling data from Nasdaq
nasdaq_sym = pdr.get_nasdaq_symbols()

In [30]:
nasdaq_sym

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Investment Managers Series Trust II AXS First ...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Goldman Sachs Physical Gold ETF Shares,Z,,True,100.0,False,NaN,AAAU,AAAU,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.0,False,NaN,AAC,AAC,False
...,...,...,...,...,...,...,...,...,...,...,...
ZXYZ.A,True,Nasdaq Symbology Test Common Stock,Q,Q,False,100.0,True,N,NaN,ZXYZ.A,False
ZXZZT,True,NASDAQ TEST STOCK,Q,G,False,100.0,True,N,NaN,ZXZZT,False
ZYME,True,Zymeworks Inc. - Common Stock,Q,Q,False,100.0,False,N,NaN,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,False,100.0,False,D,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,Q,False,100.0,False,N,NaN,ZYXI,False

In [31]:
nasdaq_sym.loc['NVDA']

Nasdaq Traded                                    True
Security Name       NVIDIA Corporation - Common Stock
Listing Exchange                                    Q
Market Category                                     Q
ETF                                             False
Round Lot Size                                  100.0
Test Issue                                      False
Financial Status                                    N
CQS Symbol                                        NaN
NASDAQ Symbol                                    NVDA
NextShares                                      False
Name: NVDA, dtype: object

In [32]:
# How many symbols make up the NASDAQ index?
len(nasdaq_sym)

11557

In [ ]:
# https://pandas-datareader.readthedocs.io/en/latest/remote_data.html
# Next, in phase 6, the volatility of the NVDA will be calculated